<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>Flot Examples: Multiple Axes</title>
	<link href="../static/css/main.css" rel="stylesheet" type="text/css">
	<!--[if lte IE 8]><script language="javascript" type="text/javascript" src="../../excanvas.min.js"></script><![endif]-->
	<script language="javascript" type="text/javascript" src="../static/js/jquery.js"></script>
	<script language="javascript" type="text/javascript" src="../static/js/jquery.flot.js"></script>
	<script language="javascript" type="text/javascript" src="../static/js/jquery.flot.time.js"></script>
	<script type="text/javascript">

	$(function() {

		//var content = [[1,0.61], [2,0.32], [3,0.35], [4,0.31], [5,0.55], [6,0.64], [7,0.02], [8,0.88], [9,0.99], [10,0.99], [11,0.21], [12,0.24], [13,0.48], [14,0.99], [15,0.13], [16,0.04], [17,0.37], [18,0.23], [19,0.42], [20,0.01], [21,0.9], [22,0.14], [23,0.814], [24,0.02], [25,0.74]];
7
		var Timeseries2 = [[1,0.80], [2,0.7580], [3,0.75470], [4,0.75490], [5,0.30], [6,0.550], [7,0.76930], [8,0.76940], [9,0.76880], [10,0.76780], [11,0.80], [12,0.77270], [13,0.77490], [14,0.410], [15,0.77410], [16,0.77320], [17,0.270], [18,0.370], [19,0.240], [20,0.120], [21,0.7720], [22,0.77210], [23,0.77170], [24,0.77040], [25,0.7690]];

		function euroFormatter(v, axis) {
			return v.toFixed(axis.tickDecimals);
		}

		content_list = []

		function doPlot(position, content_list) {
			console.log("function called")
			$.plot("#placeholder", content_list, {
				xaxes: [ { } ],
				yaxes: [ { min: 0 }, {
					// align if we are to the right
					alignTicksWithAxis: position == "right" ? 1 : null,
					position: position,
				} ],
				legend: { position: "sw" }
			});
		}

		//doPlot("right");

		function convertFromJSONToTimeseriesArray(jsonString) {
			var jsonObject = $.parseJSON(jsonString)
			var timeseriesArray = []
			for (k in jsonObject) {
				timeseriesArray.push([k, jsonObject[k]])
			}
			return timeseriesArray
		}

		function convertFromNonStringJSONToTimeseriesArray(jsonObject) {
			var timeseriesArray = []
			for (k in jsonObject) {
				timeseriesArray.push([k, jsonObject[k]])
			}
			return timeseriesArray
		}

		function readSingleFile(evt) {
			//Retrieve the first (and only!) File from the FileList object
			//http://www.htmlgoodies.com/beyond/javascript/read-text-files-using-the-javascript-filereader.html#fbid=urjzZXW8lIf
			var f = evt.target.files[0]; 

			if (f) {
			  var r = new FileReader();
			  r.onload = function(e) { 
				  var contents = e.target.result;
				  timeseriesArray = convertFromJSONToTimeseriesArray(contents)
				  console.log("heyyyy")
				  console.log(timeseriesArray)
				  item = {data: timeseriesArray, label: "Input Time Series"}
				  content_list.push(item)

				  content_list_withinput = content_list

				  // contents.forEach(function(x) {
				  // 	console.log(x)
				  // })
				  // console.log(contents)
				  //console.log(type(contents))
				  $("#plot_ts_file").click(function () {
					doPlot("right", content_list);
				});
				alert( "Got the file" 
					  +" name: " + f.name + "   "
					  +" type: " + f.type + "   "
					  +" size: " + f.size + " bytes"
					  //PASS "contents" TO FUNCTION DOPLOT
					  //doPlot("right", contents)
				);  
			  }
			  r.readAsText(f);
			} else { 
			  alert("Failed to load file");
			}
		  }

		document.getElementById('upload_ts_file').addEventListener('change', readSingleFile, false);


		function readmetadata(evt) {
			//Retrieve the first (and only!) File from the FileList object
			//http://www.htmlgoodies.com/beyond/javascript/read-text-files-using-the-javascript-filereader.html#fbid=urjzZXW8lIf
			var f = evt.target.files[0]; 

			if (f) {
			  var r = new FileReader();
			  r.onload = function(e) { 
				  var contents = e.target.result;
				  metadata_ts = convertFromJSONToTimeseriesArray(contents)
				  //console.log(metadata_ts)
				  meatadata_list = metadata_ts[0][1] //meatadata_list[0]
				  console.log(meatadata_list)
				  //console.log(convertFromJSONToTimeseriesArray(meatadata_list))
				  //{blarg: 0.0976127, level: "C", mean: 0.525, std: 0.287228, tid: "123                             "}
				  all_k_ts = metadata_ts[1][1]
				  test_ts = convertFromNonStringJSONToTimeseriesArray(all_k_ts)
				  //console.log(test_ts) //[Array[2], Array[2]]
				  //console.log(test_ts[1]) //each time series
				  //console.log(test_ts[1][1])
				  //console.log(convertFromNonStringJSONToTimeseriesArray(test_ts[1][1])) //pass to list
				  //console.log(test_ts.length)
				  for(var i = 0, size = test_ts.length; i < size ; i++){
				  	var legend_index = i+1
				  	var item = test_ts[i][1]
				  	ts = convertFromNonStringJSONToTimeseriesArray(item)
				  	console.log(ts)
				  	console.log("meow meow")
				  	sub_item = { data: ts, label: "Time series "+ legend_index.toString() }
				  	content_list_withinput.push(sub_item)
				  }
				  //grab_ts_from_test = convertFromNonStringJSONToTimeseriesArray(test_ts[1][1])
				  //console.log(test_ts)


				  //console.log(near_ts)

				  // contents.forEach(function(x) {
				  // 	console.log(x)
				  // })
				  // console.log(contents)
				  //console.log(type(contents))
				  $("#plot_all_ts").click(function () {
					doPlot("right", content_list);
				});
				alert( "Got the file" 
					  +" name: " + f.name + "   "
					  +" type: " + f.type + "   "
					  +" size: " + f.size + " bytes"
					  //PASS "contents" TO FUNCTION DOPLOT
					  //doPlot("right", contents)
				);  
			  }
			  r.readAsText(f);
			} else { 
			  alert("Failed to load file");
			}
		  }

		document.getElementById('upload_ts_metadata').addEventListener('change', readmetadata, false);





		
		closestK = 5;
		providedID = "11919-2";
		providedJSON = {};

		var BASE_URL = "http://localhost:5000";
		// Get closest k to provided id
		$.get(BASE_URL + "/simquery?k="+ closestK + "&id=" + providedID, function(data, status) {
			console.log(data);
		});

		// Get closest k to provided timeseries
		$.ajax({
		  url: BASE_URL + "/simquery?k=" + closestK,
		  method: 'POST',
		  contentType: 'application/json; charset=utf-8',
		  dataType: 'json',
		  data: JSON.stringify(providedJSON)
		})
		.done(function (data) {
		  console.log(data);
		});


/*		$("#upload_ts_file").change(function() {
		// will log a FileList object, view gifs below
			console.log(this.files);

			// grab the first file in the FileList object and pass it to the readfile function
			readFile(this.file[0])
		});

		var control = document.getElementById("upload_ts_file");
		control.addEventListener("change", function(event) {

			// When the control has changed, there are new files

			var i = 0,
				files = control.files,
				len = files.length;

			for (; i < len; i++) {
				console.log("Filename: " + files[i].name);
				console.log("Type: " + files[i].type);
				console.log("Size: " + files[i].size + " bytes");
			}

		}, false);
*/




		// Add the Flot version string to the footer

		//$("#footer").prepend("Flot " + $.plot.version + " &ndash; ");
	});

	</script>
</head>
<body>

	<div id="header">
		<h2>Multiple Time Series</h2>
	</div>

	
	<br style="margin-bottom:240px;"></br>
	

	<div id="content">

		<div class="col-md-2">
			<p><strong><u>Please select a time-series ID</u></strong></p>
		</div>

		<p></p>



		<p></p>

		<div class="col-md-6">
			Timeseries ID: <input type="text" id="ts-id">
		</div> 

		<p></p>

		<div class="col-md-2">
			<button id="plot_ts_id" style="Nunito">Plot this time series</button>
			<button id="save_ts_id">Save this time series to database</button>
			<br style="margin-bottom:30px;"></br>
		</div>

		<div class="col-md-2">
			<p><strong><u>Or upload a time series file</u></strong></p>
		</div>

		<p></p>

		<div class="col-md-6">
			Browse a File <input type="file" id="upload_ts_file">
		</div>

		<p></p>

		<div class="col-md-2">
			<button id="plot_ts_file">Plot this time series</button>
			<button id="save_ts_file">Save this time series to database</button>
			<br style="margin-bottom:30px;"></br>
		</div>

		<div class="col-md-6">
			How many other similar time series you are looking for? <input type="text" id="similar_ts_number">
			<p></p>
			Browse a File <input type="file" id="upload_ts_metadata">
		</div>

		<p></p>

		<div class="col-md-2">
			<button id="plot_all_ts">Plot those time series!</button>
			<br style="margin-bottom:30px;"></br>
		</div>


		<div class="demo-container">
			<div id="placeholder" class="demo-placeholder"></div>
		</div>

		<p>Let's do this !! Crush 207 !!</p>

		<p>As illustrated ... </p>

	
	</div>

	<div id="footer">
		Copyright &copy; 2016 - TheGroupHasNoName
	</div>

</body>
</html>
